body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #40E0D0; /* Azul turquesa */
}

.container {
    display: flex;
    height: 100vh;
}

.left-column {
    background-color: #36B1A0 !important; /* Cor de fundo da coluna esquerda */
    width: 20% !important; /* Ajuste conforme necessário */
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
}

.left-column h2,
.left-column p {
    text-align: center; /* Centraliza o texto */
}

.profile-photo img {
    width: 200px !important; /* Ajuste conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 50%; /* Deixa a imagem circular */
}

.personal-information {
    margin-top: 20px;
}

.contact,
.useful-links .icons {
    display: flex; /* Utiliza flexbox para alinhar os ícones */
    justify-content: center; /* Centraliza os ícones */
    margin-top: 15px; /* Margem superior para espaçamento */
}

.useful-links .icons a {
    margin: 0 10px; /* Espaçamento entre os ícones */
    font-size: 24px; /* Tamanho do ícone */
    color: #000000 !important; /* Cor do ícone, ajuste conforme necessário */
    text-decoration: none; /* Remove o sublinhado */
}

.useful-links .icons a:hover {
    color: #FFFFFF !important; /* Cor ao passar o mouse, ajuste conforme necessário */
}

.icons {
    display: flex;
    justify-content: center; /* Centraliza os ícones horizontalmente */
    gap: 20px; /* Espaço entre os ícones */
}

.icons a {
    font-size: 24px; /* Ajusta o tamanho dos ícones */
    color: #fff; /* Cor dos ícones */
    text-decoration: none; /* Remove sublinhado dos links */
}

.icons a:hover {
    color: #36b1a0; /* Muda a cor dos ícones ao passar o mouse */
}

.right-column {
    width: 70%; /* Ajuste conforme necessário */
    overflow-y: auto; /* Permite rolagem se o conteúdo for grande */
    padding: 20px;
    background-color: #fff; /* Fundo branco para a coluna da direita */
}

h2 {
    color: #333; /* Cor do título */
}

button.collapsible {
    background-color: #40E0D0; /* Azul turquesa para botões */
    color: white;
    cursor: pointer;
    padding: 10px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
}

button.collapsible:hover {
    background-color: #36b1a0; /* Tom mais escuro ao passar o mouse */
}

.content {
    padding: 0 15px;
    display: none; /* Inicialmente escondido */
    overflow: hidden;
}

.project {
    margin: 20px 0;
    text-align: center; /* Centraliza o texto das descrições de projetos */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas de largura igual */
    gap: 20px; /* Espaço entre os projetos */
}

.grid-container img {
    width: 100%; /* Faz as imagens ocuparem toda a largura da célula */
    height: auto; /* Mantém a proporção da imagem */
}
